<div class="row">
      <table class="table table-striped">
   
      <th align="center" colspan="2"> <h3>Day 1 - Monday 18 Sept</h3></th>                                <th align="center" colspan="2"> <h3>Day 2 - Tuesday 19 Sept</h3></th>                  <th align="center" colspan="2"> <h3>Day 3 - Wednesday 20 Sept</h3></th>
      <tr> <td align="center">09:00</td>  <td align="left">Installations/Ice Breaker/Introductions</td>   <td align="center">09:00</td>  <td align="left">Data Cleaning with OpenRefine</td>     <td align="center">09:00</td>  <td align="left">Data visualisation in R </td> </tr> 
      <tr> <td align="center">09:30</td>  <td align="left">Introduction to Linux Shell</td>               <td align="center">09:30</td>  <td align="left">OpenRefine Continues</td>              <td align="center">09:30</td>  <td align="left">Visualisation continues</td> </tr>
      <tr> <td align="center">10:20</td>  <td align="left">Break</td>                                     <td align="center">10:20</td>  <td align="left">Break</td>                             <td align="center">10:00</td>  <td align="left">Break</td> </tr>
      <tr> <td align="center">11:00</td>  <td align="left">Linux Shell continues</td>                     <td align="center">11:00</td>  <td align="left">Intro to R</td>                        <td align="center">10:20</td>  <td align="left">Visualisation continues</td> </tr>
      <tr> <td align="center">12:30</td>  <td align="left">Lunch</td>                                     <td align="center">12:30</td>  <td align="left">Break</td>                             <td align="center">11:00</td>  <td align="left">Wrap up</td> </tr>
      <tr> <td align="center">13:15</td>  <td align="left">Linux shell continues</td>                     <td align="center">13:15</td>  <td align="left">R Continues</td>                       <td align="center">12:30</td>  <td align="left">Finish</td> </tr>
      <tr> <td align="center">15:00</td>  <td align="left">Break</td>                                     <td align="center">15:00</td>  <td align="left">Break</td>                             <td align="center"></td>  <td align="left"></td> </tr>
      <tr> <td align="center">15:20</td>  <td align="left">Better use of Spreadsheets</td>                <td align="center">15:20</td>  <td align="left">R Continues</td>                           <td align="center"></td>  <td align="left"></td> </tr>
      <tr> <td align="center">16:30</td>  <td align="left">Wrap up</td>                                   <td align="center">16:30</td>  <td align="left">Wrap up</td>                            <td align="center"></td>  <td align="left"></td> </tr>
      <tr> <td align="center">16:45</td>  <td align="left">Finish</td>                                    <td align="center">16:45</td>  <td align="left">Finish</td>                            <td align="center"></td>  <td align="left"></td> </tr>
 
    </table>

</div>

  
